<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <nav>
      <a class="navbar-brand" routerLink="">Zedflix</a>
    </nav>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <nav>
            <a class="nav-link" routerLink="search">Search</a>
          </nav>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
